.container{
  position: absolute;
  top:50%;
  left:50%;
  transform: translate(-50%,-50%);
  display:flex;
  justify-content: space-evenly;
  background-color: lightblue;
  width:40%;
}

.textInfo{
  text-align: center;
  letter-spacing: 1.5px;
  font-size: 40px;
  margin-top:100px;
}

.container>img{
  border:2px solid black;
}
.container>img:hover{
  background-color: rgb(193, 193, 193);
  cursor: pointer;
}
.resultContainer{
  position:absolute;
  left:50%;
  transform: translate(-50%,-50%);
  top:30%;
  width:120px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: lightblue;
  height: 50px;
}
.resultContainer::after,.resultContainer::before{
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  font-size: 20px;
  background-color: lightblue;
  width:150px;
  height:50px;
  margin:10px;
  font-weight:700;
}
.resultContainer::before{
  content:'Computer choice';
  left:100%;
}
.resultContainer::after{
  content:'My choice';
  right:100%;
}

.resultContainer>img{
  padding: 10px;
}
.scoreContainer{
  background-color: lightblue;
  width:120px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  transform: translate(-50%,-50%);
  left:50%;
  top:40%;
  height:50px;
}
.scoreContainer>h2{
  padding:20px;
}

@media only screen and (max-height:580px) {
  .container{
      margin-top:50px;
  }
  .scoreContainer{
      margin-top:30px;
  }
  .textInfo{
      margin-top:20px;
  }
}
@media only screen and (max-height:310px) {
  .container{
      margin-top:90px;
  }
  .scoreContainer{
      margin-top:30px;
  }
  .textInfo{
      margin-top:0;
      font-size:25px;
  }
}

